---
http_interactions:
- request:
    method: get
    uri: https://documents.un.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Cneonction:
      - close
      Location:
      - https://documents.un.org/names.nsf?login&username=freeods1&password=319a89e974ba120f02fcf6f4d0af4a8c&RedirectTo=/prod/ods.nsf/home.xsp
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Nov 2023 17:56:15 GMT
- request:
    method: get
    uri: https://documents.un.org/names.nsf?RedirectTo=/prod/ods.nsf/home.xsp&login&password=319a89e974ba120f02fcf6f4d0af4a8c&username=freeods1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Cneonction:
      - close
      Location:
      - https://documents.un.org/prod/ods.nsf/home.xsp
      X-Content-Type-Option:
      - nosniff
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Nov 2023 17:56:16 GMT
- request:
    method: get
    uri: https://documents.un.org/prod/ods.nsf/home.xsp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Official Document
        System of the United Nations</title>\n<link rel=\"SHORTCUT ICON\" href=\"/prod/ods.nsf/un_fav_icon_0.png\">\n<meta
        content=\"IE=Edge\" http-equiv=\"X-UA-Compatible\">\n<meta name=\"viewport\"
        content=\"initial-scale=1,user-scalable=no,maximum-scale=1,height=device-height\">\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"https://fonts.googleapis.com/css?family=Roboto%3A400%2C100%2C100italic%2C300%2C300italic%2C400italic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic\">\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/xsp/.ibmxspres/.mini/css-1.9.7/Ebootstrap/xsptheme/xsp.css&amp;Ebootstrap/bootstrap311/css/bootstrap.css&amp;@Da&amp;Ebootstrap/xpages300.css.css\">\n<script
        type=\"text/javascript\">var dojoConfig = {locale: 'en', parseOnLoad: true};</script>\n<script
        type=\"text/javascript\" src=\"/xsp/.ibmxspres/dojoroot-1.9.7/dojo/dojo.js\"></script>\n<script
        type=\"text/javascript\">dojo.registerModulePath(\"extlib\", \"/xsp/.ibmxspres/.extlib\");</script>\n<script
        type=\"text/javascript\" src=\"/xsp/.ibmxspres/.mini/dojo-1.9.7/.en/@Je&amp;-extlib.dijit.BootstrapPickerSelect2&amp;@Ek&amp;@Ie.js\"></script>\n<script
        type=\"text/javascript\">dojo.require(\"ibm.xsp.widget.layout.xspClientDojo\")</script>\n<script
        type=\"text/javascript\">dojo.require(\"dojo.parser\")</script>\n<script type=\"text/javascript\"
        src=\"/xsp/.ibmxspres/.extlib/bootstrap/jquery182/js/jquery-1.8.2.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"/xsp/.ibmxspres/.extlib/bootstrap/bootstrap311/js/bootstrap.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"/xsp/.ibmxspres/.extlib/bootstrap/xpages300.js\"></script>\n<script
        type=\"text/javascript\">dojo.require(\"dijit.Dialog\")</script>\n<script
        type=\"text/javascript\">dojo.require(\"extlib.dijit.Picker\")</script>\n<script
        type=\"text/javascript\">dojo.require(\"ibm.xsp.widget.layout.DateTextBox\")</script>\n<script
        type=\"text/javascript\">dojo.require(\"extlib.dijit.BootstrapPickerSelect2\")</script>\n<link
        rel=\"stylesheet\" type=\"text/css\" href=\"/prod/ods.nsf/xsp/.ibmmodres/.css/main.css&amp;un.css&amp;font-awesome-4.4.0%2Fcss%2Ffont-awesome.min.css&amp;subjFixes.css\">\n<script
        type=\"text/javascript\" src=\"/prod/ods.nsf/csjsCommon\"></script>\n</head>\n<body
        class=\"xsp tundra\">\n<script type=\"text/javascript\">XSP.submitLatency=180.0*1000;</script>\n<form
        id=\"view:_id1\" method=\"post\" action=\"/prod/ods.nsf/home.xsp\" enctype=\"multipart/form-data\">\n<a
        class=\"sr-only\" href=\"#mainContent\">Skip to main content</a><div class=\"navbar
        navbar-default navbar-fixed-top\" id=\"brand-bar\" role=\"navigation\"><div
        class=\"container brandbar-header\"><div class=\"row\"><div class=\"col-md-4\"><a
        id=\"view:_id1:_id2:_id9\" href=\"http://www.un.org/en/index.html\" class=\"navbar-brand\"
        target=\"_blank\"><i class=\"fa fa-home fa-fw fa-lg paddingR\"></i>  Welcome
        to the United Nations</a></div><div class=\"col-md-8 language-switcher\"><button
        class=\"navbar-toggle collapsed\" data-target=\"#language-switcher\" data-toggle=\"collapse\"
        type=\"button\"><span class=\"sr-only\">Toggle navigation</span><span class=\"icon-bar\"></span><span
        class=\"icon-bar\"></span><span class=\"icon-bar\"></span></button><div class=\"language-title
        visible-xs-inline\"><a data-target=\"#language-switcher\" data-toggle=\"collapse\"
        href=\"javascript:void(0)\">Language:</a></div><div class=\"navbar-collapse
        collapse\" id=\"language-switcher\"><nav role=\"navigation\"><ul class=\"language-switcher-locale-url
        nav navbar-nav navbar-right\" role=\"menu\"><li class=\"ar first\"><a id=\"view:_id1:_id2:linkA\"
        href=\"#\" class=\"language-link\">&#1575;&#1604;&#1593;&#1585;&#1576;&#1610;&#1577;</a></li><li
        class=\"zh-hans\"><a id=\"view:_id1:_id2:linkC\" href=\"#\" class=\"language-link\">&#20013;&#25991;</a></li><li
        class=\"en\"><a id=\"view:_id1:_id2:linkE\" href=\"#\" class=\"language-link
        langOn\">English</a></li><li class=\"fr\"><a id=\"view:_id1:_id2:linkF\" href=\"#\"
        class=\"language-link\">Fran&ccedil;ais</a></li><li class=\"ru\"><a id=\"view:_id1:_id2:linkR\"
        href=\"#\" class=\"language-link\">&#1056;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081;</a></li><li
        class=\"es\"><a id=\"view:_id1:_id2:linkS\" href=\"#\" class=\"language-link\">Espa&ntilde;ol</a></li><li
        class=\"dropdown last\"><a class=\"dropdown-toggle\" data-toggle=\"dropdown\"
        href=\"#\" id=\"otherLangs\">&nbsp;Other&nbsp;<span class=\"caret\"></span></a><ul
        aria-labelledby=\"otherLangs\" class=\"dropdown-menu\" role=\"menu\"><li><a
        id=\"view:_id1:_id2:linkG\" href=\"#\" class=\"language-link\">Deutsch</a></li></ul></li></ul></nav></div></div></div></div></div><header
        class=\"navbar container navbar-default\" id=\"navbar\" role=\"banner\"><div
        class=\"container\"><div class=\"navbar-header\"><a id=\"view:_id1:_id2:_id43\"
        href=\"http://www.un.org/en/index.html\" class=\"logo navbar-btn pull-left
        flip\" title=\"United Nations\" target=\"_blank\"><img id=\"view:_id1:_id2:_id44\"
        src=\"/prod/ods.nsf/logo-un.png\" alt=\"\" class=\"unLogo\"></a><a id=\"view:_id1:_id2:_id45\"
        href=\"/prod/ods.nsf/home.xsp\" class=\"name navbar-brand\" title=\"ODS Home\">Official
        Document System</a><a href=\"http://unite.un.org\" target=\"_blank\"><img
        alt=\"Unite\" class=\"uniteLogo\" src=\"powered-by-unite.png\"></a></div><div
        class=\"hidden\"><span id=\"view:_id1:_id2:cfMsg\">Due to the Disaster Recovery
        Exercise,[...]
[...]
- request:
    method: get
    uri: https://documents.un.org/prod/ods.nsf/xpSearchResultsM.xsp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Search Results
        - ODS Website</title>\n<link rel=\"SHORTCUT ICON\" href=\"/prod/ods.nsf/un_fav_icon_0.png\">\n<[...]
